
.NotePageNav__back-button {
  margin: 45px 20px 25px auto
}
.NotePageNav__back-button:hover {
  background-color: #FFB72F;
}

.NotePageNav__folder-name {
  color: #b5b3b3;
  font-family: var(--custom-font);
  font-size: 40px;
  height: 50vh;
  margin: 0 0 0 auto;
  text-orientation: upright;
  width: 75px;
  writing-mode: vertical-lr;
}
.Note__delete {
  --note-button-height: 32px;
  background-color: #041a3a;
  border: 0;
  color: #bdbcbc;
  float: right;
  font-size: 12px;
  height: var(--note-button-height);
  position: relative;
  top: calc((var(--note-button-height) + 32px) * -1);
  transform-origin: right bottom;
  transform: rotate(-90deg);
  width: calc(var(--note-height));
}